<div class="container">
  <div class="row">
      <table class="table table-striped">
          <thead>
              <tr class="text-white" style="background-color: blue">
                  <th scope="col">Código da especialidade</th>
                  <th scope="col">Nome</th>
                  <th scope="col">Descrição</th>
                  <th scope="col">Ações</th>
              </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of dados">
              <td>{{item.CodEspec}}</td>
              <td>{{item.NomeEspec}}</td>
              <td>{{item.Descricao}}</td>
              <td>
                  <i class="fas fa-pencil-alt" style="margin-right: 25px;"></i>
                  <i class="fas fa-trash" style="margin-right: 15px;"></i>
              </td>
          </tr>
          </tbody>
      </table>
  </div>
</div>
<form (ngSubmit) ="getForm(specialtyForm.value)" #specialtyForm="ngForm">
  <div class="form-group col-md-6">
    <label for="CodEspec">CodEspec</label>
    <input type="text" class="form-control" placeholder="Codigo" ngModel name="CodEspec">
  </div>
  <div class="form-group col-md-6">
    <label for="NomeEspec">Especialidade</label>
    <input type="text" class="form-control" placeholder="Especialidade" ngModel name="NomeEspec">
  </div>
  <div class="form-group col-md-6">
    <label for="Descricao">Descrição</label>
    <input type="text" class="form-control" placeholder="Descricao" ngModel name="Descricao">
  </div>
  <button type="submit" class="btn btn-primary">Adicionar</button>
</form>
