<div class="container">
  <div class="row">
    <div class="d-flex p-0 mb-4 pesquisar">
      <div class="col-9">
          <input  type="text" class="form-control" placeholder="Pesquisar">
      </div>
      <div class="col-3 end-right">
          <button class="btn_colaborador" data-bs-toggle="modal" data-bs-target="#modalRamal">Adicionar</button>
      </div>
  </div>

  <!-- Modal de adição de novo ramal -->

  <div class="modal fade" id="modalRamal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
          <div class="modal-header" style="padding: 12px;">
            <label><h1>Adicionar ramal</h1></label>
      </div>
      <div class="modal-body">

            <div class="container-fluid" >
                <form autocomplete="off">
                    <div class="row" id="form-titulo">

                        <div class="form-group col-12">
                            <label for="nomeTitulo">Setor</label>
                            <input  type="text"
                                    class="form-control"
                                    id="nomeSetor"
                                    name="nomeSetor"
                                    placeholder="Nome">
                        </div>

                        <div class="form-group col-12">
                          <label for="nomeTitulo">Responsável (opcional)</label>
                          <input  type="text"
                                  class="form-control"
                                  id="nomeResponsavel"
                                  name="nomeResponsavel"
                                  placeholder="Nome">
                      </div>

                      <div class="form-group col-12">
                        <label for="nomeTitulo">Ramal</label>
                        <input  type="text"
                                class="form-control"
                                id="nomeRamal"
                                name="nomeRamal"
                                placeholder="Nome">
                    </div>

                        <div class="form-group col-6">
                            <label>Local</label>
                            <select class="form-select">
                              <option selected>Selecione</option>
                              <option value="1">Vectra Sede</option>
                              <option value="2">Pe conectado</option>
                            </select>
                        </div>



                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-outline-secondary" style="border-radius: 30px; height: 40px;
            padding: 0 25px;" #closedModal data-bs-dismiss="modal" >Cancelar</button>
            <button class="btn_colaborador" type="submit">Salvar</button>
        </div>
      </div>
  </div>
</div>


      <table class="table table-striped">
          <thead>
              <tr class="text-white" style="background-color: blue">
                  <th scope="col">Código da Clinica</th>
                  <th scope="col">Nome da Clinica</th>
                  <th scope="col">Endereço</th>
                  <th scope="col">Telefone</th>
                  <th scope="col">Email</th>
                  <th scope="col">Edição</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td>1001</td>
                  <td>Renascer</td>
                  <td>Rua Exp. Guilherme Salvador, 57 - Recife</td>
                  <td>81995374533</td>
                  <td>oi@renascer.com</td>
                  <td>
                      <i class="fas fa-pencil-alt" style="margin-right: 25px;"></i>
                      <i class="fas fa-trash" style="margin-right: 15px;"></i>
                  </td>
              </tr>
          </tbody>
      </table>
  </div>
</div>
