<div class="container">
  <div class="row">
      <table class="table table-striped">
          <thead>
              <tr class="text-white" style="background-color: blue">
                  <th scope="col">Código do medico</th>
                  <th scope="col">Nome</th>
                  <th scope="col">Genero</th>
                  <th scope="col">Telefone</th>
                  <th scope="col">Email</th>
                  <th scope="col">Especialidade</th>
                  <th scope="col">Edição</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td>2001</td>
                  <td>Arlindo</td>
                  <td>M</td>
                  <td>81995078534</td>
                  <td>arlindomorais@gmail.com</td>
                  <td>0001</td>
                  <td>
                      <i class="fas fa-pencil-alt" style="margin-right: 25px;"></i>
                      <i class="fas fa-trash" style="margin-right: 15px;"></i>
                  </td>
              </tr>
          </tbody>
      </table>
  </div>
</div>
<form>
  <div class="form-group col-md-6">
    <label for="inputAddress">Nome</label>
    <input type="text" class="form-control" placeholder="Carlos">
  </div>
  <div class="form-group col-md-6">
    <label for="inputState">Genero</label>
    <select id="inputState" class="form-control">
      <option selected>Escolha</option>
      <option>M</option>
      <option>F</option>
    </select>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputCity">Telefone</label>
      <input type="number" class="form-control">
    </div>
    <div class="form-group col-md-6">
      <label for="inputEmail4">Email</label>
      <input type="email" class="form-control">
    </div>
  </div>
  <div class="form-group col-md-6">
    <label for="inputState">Especialidade</label>
    <select id="inputState" class="form-control">
      <option selected>Escolha</option>
      <option>Clínico Geral</option>
      <option>Pediatria</option>
      <option>Odontologista</option>
      <option>dermatologista</option>
      <option>Psicologista</option>
      <option>Psiquiatria</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Adicionar</button>
</form>
